.onboarding {
    color: #fff;
    display: block;

    &__header {
        margin-bottom: 2rem;
        margin-top: 3rem;
        &-icon {
            margin-top: 1rem;
            margin-left: 0.75rem;
            margin-bottom: 2rem;
        }
        &-heading {
            margin-bottom: 2rem;
        }
    }

    &__content { 
            display: block;
            margin-left: auto;
            margin-right: auto;
    }
    &__cta {
        margin-top: 18rem;
        margin-bottom: 1.5rem;

        Button {
            margin:15px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.content-header {
    margin-bottom: 2rem;
}