.header {
    margin-bottom: 1.8rem;
    &__title {
        display: flex;
        &-icon {
            margin-left: auto;
        }
    }
}

.close {
    margin-left: auto;
    font-size: 2rem;
    font-weight: 400;
    color: #615B5B;
    &:focus {
        outline: none;
    }
}