.register {
    &__header {
        margin-bottom: 2rem;
        &-icon {
            margin-top: 1rem;
            margin-left: 0.75rem;
            margin-bottom: 2rem;
        }
        &-heading {
            margin-bottom: 2rem;
        }
    }

}