.nav {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    height: 85px;
    background-color: $color-neutral-light-white;

    &__list {
        display: flex;
        align-items: center;
        width: 100%;
        text-decoration: none;
        list-style: none;
        float: left;
        li {
            display: flex;
            flex: 3;
            justify-content: center;
            &-icon {
                align-items: center;
            }

            &:not(:last-child) {
                border-right: 1px solid $color-primary-peach;
            }
        }
    }

    &__link {
        text-align: center;
        display: flex;
        flex-direction: column;
        @include link();

        &--active {

            .body-text {
                color: #615B5B; 
            }

           svg path {
               stroke: #615B5B;
           }
        }

        &-icon {
            margin: auto;
        }
    }
}