
.textArea {
    ::placeholder {
        color: #DADADA;
    }
    &__container {
        width: 100%;
        min-height: 300px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: $color-neutral-light-black;
        @include type-body-regular

        &:focus {
            outline: none;
        }
    }
    @media (max-width: 468px) {
        &__container {
            width: 340px;
        }
    }
}