
.textArea {
    ::placeholder {
        color: #DADADA;
    }
    &__container {
        width: 340px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.24px;

        &:focus {
            outline: none;
        }
    }
}