.ps-card {
    height: 400px;
    width: 100%;
    border: dashed 1px $color-neutral-light-grey;
    border-radius: 20px;
   
    .card-colors {
        filter: blur(20px);
        .sadness_backGround {
            top: 110px;
            left: 50px;
            width: 240px;
            height: 200px;
            background:$color-brand-light-sky;
        }
    }

    .c {
        animation: fade-scale 3s;  
    }
    
    
    &__wrapper {
        padding: 1.75rem 1.25rem;
    }
    &__heading {
        text-transform: uppercase;
        margin-bottom: 0.15rem;
    }
    &__entry-count {
        position: absolute;
        bottom: 20px;
    }
}



@keyframes fade-scale{
    0%{
      transform: scale(0.1);
      opacity: 0;
    }
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }