.ps-container{
    width: 100%;
    height: 400px;
    display:flex;
    margin-left:20px;
.ps-card {
    overflow: hidden;
    position: relative;
    height: 396px;
    width: 300px;
    border: dashed 1px $color-neutral-light-grey;
    border-radius: 20px;
    margin-right: 30px;
    .card-colors {
        position: absolute;
        filter: blur(20px);
        z-index:-1;
        
        .c {
            position: absolute;
            border-radius: 100%;
            animation: fade-scale 3s;  
        }
        .c-sadness {
            top: 110px;
            left: 50px;
            width: 240px;
            height: 200px;
            background:$color-brand-light-sky;
        }
        .c-anger{
            top: -60px;
            left: 70px;
            width: 180px;
            height: 220px;
            background: $color-brand-light-orange;
          }
        .c-fear {
            top: 70px;
            left: -20px;
            width: 180px;
            height: 180px;
            background: $color-brand-light-green;
        }
        .c-joy {
            top: 110px;
            left: 50px;
            width: 240px;
            height: 200px;
            background:$color-brand-light-yellow;
        }
        .c-analytical {
            top: 70px;
            left: -20px;
            width: 180px;
            height: 180px;
            background: $color-brand-light-blue;
        }
        .c-confident {
            top: 70px;
            left: -20px;
            width: 180px;
            height: 180px;
            background: $color-brand-light-purple;
        }
        .c-tentative {
            top: 70px;
            left: -20px;
            width: 180px;
            height: 180px;
            background: $color-brand-light-teal;
        }
    }
    &__wrapper {
        padding: 1.75rem 1.25rem;
    }
    &__heading {
        text-transform: uppercase;
        position: absolute;
        bottom: 340px;
    }
    
    &__entry-count {
        position: absolute;
        bottom: 20px;
    }
}
}




@keyframes fade-scale{
    0%{
      transform: scale(0.1);
      opacity: 0;
    }
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }