.profile {
    position: relative;
    &__nav {
        margin: 0 auto;
        margin-bottom: 2.15rem;
        display: flex; 
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    &__avatar {
        border-radius: 50%;
        margin-bottom: 1rem;
        background-color: $color-neutral-light-grey2;

        img {
            width: 100%;
            height: 100%;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
    }
}