a {
    &:hover {
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding-inline-start: 0px;
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

::selection { 
    background: $color-primary-peach;opacity:0.2;
    color: white;
}
textarea, input{
    caret-color:$color-primary-peach;
}

// p {
//     margin-bottom: 1.3em;
//     &::selection {
//       background: $selection-bg;
//       color: white;
//     }