// This file is where all of the stylesheets will be imported

// reboot is the same as normalize/reset.css
@import '~bootstrap/scss/bootstrap-reboot';
// for layouts, containers, columns, etc. 
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/dist/css/bootstrap.min.css';

@import './mixins/typography.scss';
@import './variables.scss';
@import './global.scss';
@import '../Pages/Home/Home.scss';


