// This file is where all of the stylesheets will be imported

// reboot is the same as normalize/reset.css
@import '~bootstrap/scss/bootstrap-reboot';
// for layouts, containers, columns, etc. 
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '/variables.scss';
@import '/global.scss';
@import '/App.scss';

@import '/mixins/typography.scss';
@import '/mixins/links.scss';

@import '../components/PSContainer/PSContainer.scss';
@import '../Pages/Dashboard/Dashboard.scss';
@import '../Pages/NewEntry/NewEntry.scss';
@import '../Pages/Profile/Profile.scss';
@import '../Pages/Entries/Entries.scss';
@import '../Pages/Login/Login.scss';
@import '../Pages/Register/Register.scss';
@import '../components/Heading/Heading.scss';
@import '../components/Button/Button.scss';
@import '../components/Header/Header.scss';
@import '../components/Text/Text.scss';
@import '../components/CardCarousel/CardCarousel.scss';
@import '../components/Card/Card.scss';
@import '../components/EntriesList/EntriesList.scss';
@import '../components/LoginForm/LoginForm.scss';
@import '../components/RegisterForm/RegisterForm.scss';
@import '../components/Nav/Nav.scss';
@import '../components/TextArea/TextArea.scss';

