// ========== BRAND COLORS
// Primary
$color-primary-peach: #E79C88;
$color-primary-purple: #5881EA;
// Secondary
$color-secondary-peach: #E68577;
$color-secondary-purple: #5881EA;

// Neutrals
// Light Mode
$color-neutral-light-black: #615B5B;
$color-neutral-light-grey: #AFADAB;
$color-neutral-light-grey2: #DADADA;
$color-neutral-light-white: #FCFCFB;
$color-neutral-light-white2: #FDFDFA;

// Dark Mode
$color-neutral-dark-black: #222A3D;
$color-neutral-dark-grey: #B2B9C8;
$color-neutral-dark-white: #EEF3FE;

// Other brand colors - Emotion colors - Light
$color-brand-light-orange: #E68577;
$color-brand-light-green: #D3E3CC;
$color-brand-light-yellow: #F5EFB3;
$color-brand-light-sky: #E2F1F4;
$color-brand-light-blue: #97B1F4;
$color-brand-light-purple: #C7C1DF;
$color-brand-light-teal: #A1D6CC;
// Dark 
// ====================================
// ========== TO BE COMPLETE ========== 
// ====================================
$color-brand-light-orange: #E68577;
$color-brand-light-green: #D3E3CC;
$color-brand-light-yellow: #F5EFB3;
$color-brand-light-sky: #E2F1F4;
$color-brand-light-blue: #97B1F4;
$color-brand-light-purple: #C7C1DF;
$color-brand-light-teal: #A1D6CC;

