.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ::placeholder {
        color: #DADADA;
    }

    a {
        color: $color-secondary-purple;
    }

    &__button {
        margin-bottom: 2rem;
    }
}

.button {
    margin-bottom: 1rem;
}

input {
    height: 50px;
    background: #FFFFFF;
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 
                0px 0px 2px rgba(0, 0, 0, 0.06), 
                0px 4px 8px rgba(0, 0, 0, 0.04);
    margin-bottom: 1.5rem;

    &:focus {
        outline: 0;
        outline-offset: 0;
        border: 1px solid $color-primary-peach;
        box-shadow: none;
    }
}

.forgot-password {
    margin-bottom: 2rem;
}

.error {
    text-align: center;
}