.home {
    height: 100vh;
    padding-bottom: 85px;
    &__wrapper {
        display: flex;
    }
}

// .header {
//     &__title {
//         display: flex;
//         &-icon {
//             margin-left: auto;
//         }
//     }
// }

// .close {
//     margin-left: auto;
// }