@mixin link {
    padding: 1%;
    margin: -1%;
    color: $color-neutral-light-grey;

    &:active {
        color: $color-primary-peach;
        font-weight: 600;
        // border-bottom: 1.5px solid $color-primary-peach;
        text-decoration: none;
    }

    // &:hover {
    //     transition: all 0.1s ease 0s;
    //     color: $color-primary-peach;
    //     font-weight: 500;
    //     border-bottom: 1.5px solid $color-primary-peach;
    //     text-decoration: none;
    // }
}